/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/
html,body{
  height: 100%;
}

body {
  background: linear-gradient(to bottom, #1c5380 0%,#06365f 40%, white 40%, white 100%);
  background: -webkit-linear-gradient(to bottom, #1c5380 0%,#06365f 40%, white 40%, white 100%);
  background: -moz(to bottom, #1c5380 0%,#06365f 40%, white 40%, white 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
}

h2{
  color: #06365f;
}

/*#log_in{

}*/

.wrapper {
  float:left;
  display: inline-block;
  /*background-color: green;*/
  margin: 8% 2% 1% 0%;
}

.phones{
  /*float:left;*/
  margin: 0% 2% 0% 350px;
  /*background-color: red;*/
}

.header{
  /*margin: 10% 10% 2% 0%;*/
  /*background-color: red;*/
  display: inline-block;
  /*float:left;*/
}

.brand{
  width: 280px;
  height: 60px;
  padding: 8% 0%;
}

.button {
  background=green;
  height: 30px;
  width: 100px;
  text-align: center;
  border: 1px solid black;
  border-radius: 2px;
  margin: 0 2% 0 0;
  /*float: right;*/
}

.button a{
  text-decoration: none;
  font-weight: bold;
  color: white;
  text-align: center;
}

.content {
  background-color:white;
  border-radius: 10px;
  border-style: 10px solid;
  width: 400px;
  padding: 2% 5%;
}

.adjectives {
  font-weight: bold;
}

footer {
  clear:both;
  text-align:center;
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #06365f;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 2px;
  margin: 0px 2px;
}

.copyright {
  color: rgb(93, 100, 111);
}
